* {
  font-size: 18px;
  color: #666666;
}

.price-list {
  max-width: 1280px;
  margin: 50px auto;
  box-shadow: 1px 2px 8px #cccccc;
  border-radius: 10px;
  padding: 20px;
}

.col {
  width: 100%;
  display: grid;
}

th {
  padding: 20px;
}

th,
td {
  border: none;
}

tr {
  border: 0;
}

table {
  text-align: left;
  box-shadow: 1px 0 5px #dddddd;
  border-radius: 10px;
}

thead {
  background-color: #eeeeee;
  color: #444444;
}

.tag {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.tag-time {
  float: right;
}

.form-input {
  border: none;
  width: 100%;
  padding: 12px 0;
  font-size: 24px;
}

.form-input:focus {
  border: 0;
  outline: 0;
  background-color: lightblue;
}
.form-input::placeholder {
  color: #cccccc;
}

.input-group {
  display: flex;
}

.input-group .input-group-text {
  padding: 12px 20px 12px 0;
  font-size: 24px;
}

.btn {
  padding: 12px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  margin: 10px;
  max-width: 100px;
}
